/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

#persistent-bar {
    margin: 0 auto;
    padding: 0;
    width: 1140px;
    height: 48px;
    overflow: hidden;
}

ul.lineup li {
	width: 25%;

}