/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1134px;
}

/*********************
HEADER SYTLES
*********************/

.header {}

	a#home_logo {
		display: block;
		float:left;
		margin-left: -223px;
	}
	a#mobile_logo {
		display: none;
	}

/*********************
NAVIGATION STYLES
*********************/

ul.nav {
	
	border: 0;

	li {
		float: left;
		position: relative;
		display: block;
		
		a {
			border-bottom: 0;
			color: #ffffff;
			padding: 10px 0;

			&:hover, &:focus {
				color: white;
			}
		}

		&:first-child {}
		&:last-child {}

		ul.sub-menu,
		ul.children {
			width: 180px;
			margin-top: 7px;
			border-top: 0;
			position: absolute;
			left: 0;
			display: none;
			z-index: 8999;
			text-align: left;

			li {
				display: block;
				padding: 10px 0;

				a {
					padding-left: 10px;
					border-right: 0;
					/*display: block;*/
					width: 180px;
					font-size: 16px;
					/*border-bottom: 1px solid #ccc;*/
					float:left;
					width: 167px;

					&:hover,
					&:focus {
						color: white;
					}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				ul {}
			}

			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {
					/*color: $wtf-purple;*/
				}
			}
		}

		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a { 
			/*color: $wtf-purple;*/
		}
	}  /* end current highlighters */

/* MD CUSTOM NAV */

/* LINEUP */

li.menu-item-14 {
	@include margin-top-first-row;
	margin-left: 127px;
}

li.menu-item-14 a {
	padding: 51px 30px;
	
	&:hover {
		background: $wtf-dark-orange;
	}
}
/*li.menu-item-14:hover {
	@include box-shadow( -1px 1px $wtf-orange-shadow,
							-2px 2px $wtf-orange-shadow,
							-3px 3px $wtf-orange-shadow,
							-4px 4px $wtf-orange-shadow,
							-5px 5px $wtf-orange-shadow,
							-6px 6px $wtf-orange-shadow,
							-7px 7px $wtf-orange-shadow,
							-8px 8px $wtf-orange-shadow	);
		
							
	}*/

/* TICKETS */

li.menu-item-66  {
	@include margin-top-second-row;
	margin-left: 252px;
}

li.menu-item-66 a {
	padding: 51px 26px;

	&:hover {
		background: $wtf-dark-foam;
	}
}

li.menu-item-66 ul.sub-menu {	
	margin-top: 47px;
	width: 126px;
	background: $wtf-foam;
}

li.menu-item-66 ul.sub-menu li {
	width: 100%;

	&:hover {
		background: $wtf-dark-foam;
	}
}

li.menu-item-66 ul.sub-menu li a {
	width: 100%;
	padding: 0 0 0 25px;
}

/* EXPERIENCE */

li.menu-item-13  {
	@include margin-top-first-row;
	margin-left: 378px;
}

li.menu-item-13 a {
	padding: 51px 73px;

	&:hover {
		background: $wtf-dark-purple;
	}
}

li.menu-item-13 ul.sub-menu {
	background: $wtf-purple;
	margin-top: 47px;
	width: 252px;
}

li.menu-item-13 ul.sub-menu li {
	width: 100%;

	&:hover {
		background: $wtf-dark-purple;
	}
}

li.menu-item-13 ul.sub-menu li a {
	width: 100%;
	padding: 0 0 0 73px;
}

/* INFORMATION */

/*li.menu-item-12  {*/
li.menu-item-704  {
	@include margin-top-second-row;
	margin-left: 630px;
}

/*li.menu-item-12 a {*/
li.menu-item-704 a {
	padding: 51px 42px;

	&:hover {
		background: $wtf-dark-blue;
	}
}

/*li.menu-item-12 ul.sub-menu {*/
li.menu-item-704 ul.sub-menu {
	background: $wtf-blue;
	margin-top: 47px;
	width: 126px;				
}

li.menu-item-704 ul.sub-menu li {
/*li.menu-item-12 ul.sub-menu li {*/
	width: 100%;

	&:hover {
		background: $wtf-dark-blue;
	}
}

/*li.menu-item-12 ul.sub-menu li a {*/
li.menu-item-704 ul.sub-menu li a {
	width: 100%;
	padding: 0 0 0 37px;
}

/* NEWS */

li.menu-item-39 { 
	@include margin-top-first-row;
	margin-left: 882px;
}

li.menu-item-39 a {
	padding: 51px 37px;

	&:hover {
		background: $wtf-dark-foam;
	}
}

/* GET INVOLVED */

li.menu-item-11 {
	@include margin-top-second-row;
	margin-left: 882px;
	min-width: 252px;
}

li.menu-item-11 a {
	padding: 51px 61px;

	&:hover {
		background: $wtf-dark-orange;
	}
}

li.menu-item-11 ul.sub-menu {
	background: $wtf-orange;
	width: 252px;
	margin-top: 47px;
}

li.menu-item-11 ul.sub-menu li {
	width: 100%;

	&:hover {
		background: $wtf-dark-orange;
	}
}

li.menu-item-11 ul.sub-menu li a {
	padding: 0 0 0 62px;
}




} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		/*border-bottom: 2px solid #444;*/
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

/* MD CUSTOM */

ul.lineup li {
	
	margin-left: 0;
	float: left;
	width: 33%;
}

ul.lineup li img {

}

ul.ot-lineup li {
	height: 430px;
}

div.jp-title {
	font-weight:bold;
	text-align:center;
}

div.jp-title,
div.jp-playlist {
	width:570px;
	background-color:#cccccc;
    height:400px;
    overflow:auto;
	margin-left:0;
}

a#expand_collapse {
	text-indent:-9999px;
	display: inline;
    background:url(../img/wtf_playlist.jpg);
	float: left;
	height:40px;
    width:160px;
    min-width:160px;
    z-index:9999;
    position: relative;
}

a#expand_collapse:hover {
    background-position: 0 -40px;
}

a#expand_collapse.flip {
    background-position: 160px 0;
}
a#expand_collapse.flip:hover {
    background-position:160px -40px;
}

a.md {
	float: right;
}

#media-gallery iframe#video-pool {
	height: 637px;
}

#media-gallery iframe#video-timelapse {
	height: 310px;
}
